    <!-- Pricing Option3 -->
    <div id="in_pricing2">
        <div class="container">
            <div class="section_header">
                <h3>Pricing Plan<span> </span></h3>
            </div>

            <div class="row charts_wrapp">
                <!-- Plan Box -->
                <div class="col-sm-3">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Oceania</h3>
                            <div class="price">
                                <span class="dollar">Rs</span>
                                <span class="qty">8999</span>
                                <span class="month">/year</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>12 </strong>
                                    Monthly Tests
                                </p>
                                <p>
                                    <strong>12</strong>
                                    Quality Parameters
                                </p>
                                <p>
                                    <strong>Any Water Source</strong>

                                </p>
                                <p>
                                    <strong>On-Demand Support(8X7)</strong>

                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-3">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Glaciers</h3>
                            <div class="price">
                                <span class="dollar">Rs</span>
                                <span class="qty">5999</span>
                                <span class="month">/year</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>8 </strong>
                                    Monthly Tests
                                </p>
                                <p>
                                    <strong>12</strong>
                                    Quality Parameters
                                </p>
                                <p>
                                    <strong>Any Water Source</strong>

                                </p>
                                <p>
                                    <strong>On-Demand Support(8X7)</strong>

                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-3 ultra">
                    <div class="plan">
                        <div class="wrapper">
                            <img class="ribbon" src="/assets/badge.png">
                            <h3>Riviera</h3>
                            <div class="price">
                                <span class="dollar">Rs</span>
                                <span class="qty">2999</span>
                                <span class="month">/year</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>4 </strong>
                                    Quarterly Tests
                                </p>
                                <p>
                                    <strong>12</strong>
                                    Quality Parameters
                                </p>
                                <p>
                                    <strong>1 Fixed Water Source</strong>

                                </p>
                                <p>
                                    <strong>On-Demand Support</strong>

                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
                <!-- Plan Box -->
                <div class="col-sm-3 ultra">
                    <div class="plan">
                        <div class="wrapper">
                            <h3>Aqua</h3>
                            <div class="price">
                                <span class="dollar">Rs</span>
                                <span class="qty">1999</span>
                                <span class="month">/year</span>
                            </div>
                            <div class="features">
                                <p>
                                    <strong>4 </strong>
                                    Quarterly Tests
                                </p>
                                <p>
                                    <strong>10</strong>
                                    Quality Parameters
                                </p>
                                <p>
                                    <strong>1 Fixed Water Source</strong>

                                </p>
                                <p>
                                    <strong>Limited Support: By Email only</strong>

                                </p>
                            </div>
                            <a class="order" href="#">ORDER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

